@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Bilbo+Swash+Caps&family=Inter:opsz,wght@14..32,500&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiro+Devanagari+Marathi:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
    /* for touch screen */
    touch-action: none; 
  }
  
  body {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Pacifico", sans-serif;
    background: linear-gradient(45deg, #ff9a9e, #fecfef, #fecfef, #ff9a9e);
    background-size: 400% 400%;
    animation: gradientShift 8s ease infinite;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  @keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  /* Floating Hearts for Love Page */
  .floating-hearts-love {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
  }
  
  .heart-love {
    position: absolute;
    font-size: 28px;
    animation: floatUpLove 8s infinite linear;
    opacity: 0.6;
  }
  
  @keyframes floatUpLove {
    0% {
      transform: translateY(100vh) rotate(0deg) scale(0.5);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
      transform: translateY(50vh) rotate(180deg) scale(1);
    }
    100% {
      transform: translateY(-100px) rotate(360deg) scale(0.5);
      opacity: 0;
    }
  }
  
  .heart-love-1 { left: 15%; animation-delay: 0s; animation-duration: 8s; }
  .heart-love-2 { left: 35%; animation-delay: 2s; animation-duration: 9s; }
  .heart-love-3 { left: 55%; animation-delay: 4s; animation-duration: 7s; }
  .heart-love-4 { left: 75%; animation-delay: 6s; animation-duration: 8.5s; }
  .heart-love-5 { left: 25%; animation-delay: 3s; animation-duration: 9.5s; }
  .heart-love-6 { left: 65%; animation-delay: 5s; animation-duration: 7.5s; }
  
  /* Enhanced Typography for Birthday Message */
  .birthday-message {
    animation: birthdayGlow 3s ease-in-out infinite, birthdayBounce 2s infinite;
    font-size: 2.5em !important;
    font-weight: bold;
    background: linear-gradient(45deg, #ff6b9d, #ff9a56, #ffad56, #fb3569);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(255, 107, 157, 0.3);
  }
  
  @keyframes birthdayGlow {
    0%, 100% { 
      text-shadow: 0 0 10px #ff6b9d, 0 0 20px #ff6b9d, 0 0 30px #ff6b9d;
      filter: brightness(1);
    }
    50% { 
      text-shadow: 0 0 20px #ff9a56, 0 0 30px #ff9a56, 0 0 40px #ff9a56;
      filter: brightness(1.2);
    }
  }
  
  @keyframes birthdayBounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0) scale(1); }
    40% { transform: translateY(-15px) scale(1.05); }
    60% { transform: translateY(-8px) scale(1.02); }
  }
  
  #drag-container, #spin-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
            z-index: 100;
  }
  
  #drag-container img, #drag-container video {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 120%;
    max-height: 120%; 
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 8px #fff;
            box-shadow: 0 0 8px #fff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
  }
  
  #drag-container img:hover, #drag-container video:hover {
    -webkit-box-shadow: 0 0 15px #fffd;
            box-shadow: 0 0 15px #fffd;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
  }
  
  #drag-container p {
    
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotateX(90deg);
            transform: translate(-50%,-50%) rotateX(90deg);
    color: rgb(0, 195, 255);
    animation: fadein ease 15s;
  }

  @keyframes fadein {
      from {
          opacity:0;
          
      }
      to {
          opacity: 1;
          
      }
  }
  
  #ground {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotateX(90deg);
            transform: translate(-50%,-50%) rotateX(90deg);
    background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
  }
  
  #music-container {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  
  @-webkit-keyframes spin {
    from{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    } to{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  
  @keyframes spin {
    from{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    } to{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @-webkit-keyframes spinRevert {
    from{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    } to{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @keyframes spinRevert {
    from{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    } to{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }

  #canvas {
    background-color:transparent;   
    color: transparent; 
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100vw;
  }


#canva {
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
}

p {
    font-weight: 600;
    font-size: 4vw;
    text-align: center;
    
}

@media screen and (max-width: 658px)    {
  p {
    font-weight: 600;
    font-size: 12vw;
    text-align: center;
}
}